<!doctype html>
<html lang="en">

<head>
  <link rel="icon" href="nfld.png">
  <link rel="stylesheet" href="index.css">
  <meta charset="utf-8">
  <meta name="robots" content="none">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body data-bs-theme="dark">
  <main class="mb-5">
    <div class="container">
      <div class="text-center fw-bold display-1">
        <div id="logo">
          <img src="nfld.png" alt="<%= title %> logo" title="<%= title %>">
        </div>
        <div class="nfld">
          <span class="red">
            NFL
            <span class="blue">d</span>
          </span>
        </div>
      </div>
    </div>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="module" src="./src/main.tsx"></script>
  </main>
  <footer class="text-center small text-muted bg-body-tertiary fixed-bottom fst-italic">
    UI &nbsp;
    <span id="frontend"></span>
    <i class="bi bi-dot px-1"></i>
    API &nbsp;
    <span id="backend"></span>
  </footer>
</body>

</html>
