.card-subtitle,
.card {
  margin-bottom: 10px;
}

.card-body {
  padding: 8px;
}

.row-list {
  margin: 0;
}

.footer {
  position: relative;
  top: 10px;
}

.card-title {
  font-weight: bold;
  color: #d50a0a !important;
  text-shadow: 2px 2px #000;
}

.nodata {
  color: #d50a0a !important;
  text-shadow: 2px 2px #000;
}
