img {
  width: 75px;
  height: 75px;
}

.record-l {
  float: left;
  display: block;

  sup {
    display: block;
    margin-top: 3px;
  }
}

.record-r {
  float: right;

  sup {
    display: block;
    margin-top: 3px;
  }
}

.score {
  font-size: 4vmin;
  font-weight: bolder;
  text-wrap: nowrap;
}

.team {
  font-size: calc(50% + 1vw);
  font-weight: bold;
}
